In [18]:
import pandas as pd

In [19]:
SEED = 51

Carregando o dataset

In [20]:
dt_train = pd.read_csv('../data/raw_data/test.csv')
dt_test = pd.read_csv('../data/raw_data/train.csv')

Unindo os datasets

In [21]:
df = pd.concat([dt_train, dt_test], ignore_index=False)

In [22]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

Agora iremos dividir o dataset entre as classes satisfied e neutral or dissatisfied

In [23]:
df_satisfied = df[df['satisfaction'] == 'satisfied']
df_neutral = df[df['satisfaction'] == 'neutral or dissatisfied']

In [24]:
df_satisfied.drop(['Unnamed: 0'], axis=1, inplace=True)
df_neutral.drop(['Unnamed: 0'], axis=1,inplace=True)

C:\Users\Felipe Moraes\AppData\Local\Temp\ipykernel_9616\3572698216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_satisfied.drop(['Unnamed: 0'], axis=1, inplace=True)
C:\Users\Felipe Moraes\AppData\Local\Temp\ipykernel_9616\3572698216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neutral.drop(['Unnamed: 0'], axis=1,inplace=True)

Embaralhando o dataset, afim de nÃ£o haver viÃ©s de dados

In [25]:
df_satisfied = df_satisfied.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)
df_neutral = df_neutral.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)

In [26]:
df_satisfied

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,106259,Male,disloyal Customer,23,Business travel,Eco,1500,5,5,5,...,4,5,4,4,4,5,4,0,0.0,satisfied
1,35818,Male,Loyal Customer,29,Business travel,Business,937,4,3,4,...,5,1,4,2,3,2,5,0,41.0,satisfied
2,99676,Male,Loyal Customer,54,Business travel,Business,3624,5,5,5,...,4,4,4,4,3,4,5,18,7.0,satisfied
3,124415,Female,Loyal Customer,46,Business travel,Business,2268,4,4,4,...,4,4,4,4,4,4,4,9,1.0,satisfied
4,102650,Male,Loyal Customer,44,Business travel,Business,1631,3,3,4,...,5,5,5,5,4,5,5,72,57.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56423,28574,Female,Loyal Customer,47,Business travel,Eco,2562,5,3,3,...,4,4,5,4,3,4,1,0,0.0,satisfied
56424,126965,Female,Loyal Customer,54,Business travel,Business,2102,4,3,4,...,2,2,2,2,4,2,3,0,0.0,satisfied
56425,62290,Female,Loyal Customer,59,Business travel,Business,3130,1,1,1,...,5,5,4,5,4,5,4,0,0.0,satisfied
56426,124859,Female,Loyal Customer,48,Business travel,Business,280,4,4,4,...,4,4,4,4,4,4,4,0,43.0,satisfied
56427,94188,Male,Loyal Customer,48,Business travel,Business,3203,2,2,2,...,5,5,5,5,4,5,3,9,0.0,satisfied

In [27]:
df_neutral

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,6815,Female,Loyal Customer,49,Personal Travel,Eco,122,4,3,4,...,5,5,4,5,3,5,5,0,4.0,neutral or dissatisfied
1,42877,Male,Loyal Customer,8,Personal Travel,Eco,867,2,5,2,...,1,4,5,1,5,1,1,0,8.0,neutral or dissatisfied
2,93031,Female,disloyal Customer,42,Business travel,Business,317,2,2,2,...,4,4,5,4,5,4,4,3,32.0,neutral or dissatisfied
3,117017,Female,Loyal Customer,36,Business travel,Business,2993,2,2,2,...,2,2,2,2,3,2,4,9,24.0,neutral or dissatisfied
4,43865,Male,disloyal Customer,48,Business travel,Eco,174,4,4,5,...,4,1,3,3,3,5,4,0,0.0,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73447,94697,Male,Loyal Customer,22,Business travel,Business,3322,3,4,4,...,3,4,2,3,2,4,3,15,13.0,neutral or dissatisfied
73448,37379,Male,disloyal Customer,21,Business travel,Business,1076,3,3,3,...,4,5,4,4,4,1,4,157,161.0,neutral or dissatisfied
73449,16106,Female,disloyal Customer,22,Business travel,Eco,349,3,0,3,...,2,1,2,3,3,4,2,0,2.0,neutral or dissatisfied
73450,114314,Female,Loyal Customer,52,Personal Travel,Eco,846,2,5,2,...,4,4,2,4,4,4,5,1,0.0,neutral or dissatisfied
73451,70178,Female,Loyal Customer,61,Business travel,Business,258,2,5,5,...,2,2,2,2,2,2,3,0,0.0,neutral or dissatisfied

Dividindo os dados em test, validaÃ§Ã£o e treino. Iremos pegar as 50% primeiras linhas para treinamento, depois as prÃ³ximas 25% para validaÃ§Ã£o e os Ãºltimos 25% para teste

In [28]:
def split_data_set(df : pd.DataFrame) -> list[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    qtd_lines = df.shape[0]

    train = df.iloc[:int(qtd_lines * 0.5)]
    validation = df.iloc[int(qtd_lines * 0.5) : int(qtd_lines * 0.75)]
    test = df.iloc[int(qtd_lines * 0.75):]

    print(f"Size train: {len(train)}\nSize validation: {len(validation)}\nSize test: {len(test)}")

    return train, validation, test

In [29]:
df_satisfied_train, df_satisfied_validation, df_satisfied_test = split_data_set(df_satisfied)

Size train: 28214
Size validation: 14107
Size test: 14107

In [30]:
df_neutral_train, df_neutral_validation, df_neutral_test = split_data_set(df_neutral)

Size train: 36726
Size validation: 18363
Size test: 18363

Agora, temos que equilibrar os datasets de treino e validaÃ§Ã£o, assim iremos realizar um Random oversampling no dataset de treinamento e validaÃ§Ã£o da classe 'satisfied'

In [31]:
def random_oversampling(num_samples : int, df : pd.DataFrame) -> pd.DataFrame:
    num_new_samples = num_samples - df.shape[0]

    df_samples = df.sample(n=num_new_samples, replace=True, random_state=SEED)
    df = pd.concat([df, df_samples], ignore_index=False)
    df = df.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)

    return df

In [32]:
df_satisfied_train = random_oversampling(df_neutral_train.shape[0],df_satisfied_train)
print(f"New train set size: {df_satisfied_train.shape[0]}")

New train set size: 36726

In [33]:
df_satisfied_validation = random_oversampling(df_neutral_validation.shape[0],df_satisfied_validation)
print(f"New validation set size: {df_satisfied_validation.shape[0]}")

New validation set size: 18363

Unindos os csv's para ter o conjunto final de treinamento, test e validaÃ§Ã£o

In [34]:
# Save test
df_train = pd.concat([df_satisfied_train, df_neutral_train], ignore_index=False)
df_train = df_train.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)
df_train.to_csv('../data/clean_data/train.csv', index=False)

# Save validation
df_validation = pd.concat([df_satisfied_validation, df_neutral_validation], ignore_index=False)
df_validation = df_validation.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)
df_validation.to_csv('../data/clean_data/validation.csv', index=False)

# Save test
df_test = pd.concat([df_satisfied_test, df_neutral_test], ignore_index=False)
df_test = df_test.sample(frac=1, random_state=SEED, replace=False).reset_index(drop=True)
df_test.to_csv('../data/clean_data/test.csv', index=False)